@using HumanResourcesManagementAPI.Models
@inject HttpClient HttpClient
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inject IJSRuntime JS
@page "/AnagraficaCandidato"
<h3>AnagraficaCandidato</h3>

<button type="button" class="btn btn-primary" @onclick="ApriFinestraModale" >Aggiungi Candidato</button>
@if (mostraFinestraModale)
{
    <div class="modal show" tabindex="-1" style="display: block; background: rgba(0, 0, 0, 0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Dati Candidato</h1>
                    <button type="button" class="btn-close" @onclick="ChiudiFinestraModale" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form @onsubmit="AggiungiCandidato">
                        Nome <input type="text" class="form-control" @bind="nuovoCandidato.Nome" required /><br />
                        Cognome <input type="text" class="form-control" @bind="nuovoCandidato.Cognome" required /><br />
                        Codice Fiscale <input type="text" class="form-control" @bind="nuovoCandidato.CF" required /><br />
                        Data Di Nascita <input type="date" class="form-control" @bind="nuovoCandidato.DataDiNascita" required /><br />
                        Email <input type="text" class="form-control" @bind="nuovoCandidato.Email" required /><br />
                        Recapito Telefonico <input type="text" class="form-control" @bind="nuovoCandidato.RecapitoTelefonico" required /><br />
                        Comune <input type="text" class="form-control" @bind="nuovoCandidato.Comune" required /><br />
                        Provincia <input type="text" class="form-control" @bind="nuovoCandidato.Provincia" required /><br />
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" @onclick="ChiudiFinestraModale">Chiudi</button>
                            <input type="reset" class="btn btn-secondary" value="Cancella" />
                            <button type="submit" class="btn btn-primary">Salva</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

@if (mostraMessaggio)
{
    <div class="modal show" tabindex="-1" style="display: block; background: rgba(0, 0, 0, 0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="messaggioTitle">Successo</h1>
                    <button type="button" class="btn-close" @onclick="ChiudiMessaggio" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Il candidato è stato aggiunto con successo!</p>
                </div>
            </div>
        </div>
    </div>
}
@*@if (mostraFormAggiunta)
{
    <form @onsubmit="AggiungiCandidato">
        <input type="text" @bind="nuovoCandidato.Nome" placeholder="Nome" />
        <input type="text" @bind="nuovoCandidato.Cognome" placeholder="Cognome" />
        <input type="text" @bind="nuovoCandidato.RecapitoTelefonico" placeholder="Recapito Telefonico" />
        <input type="text" @bind="nuovoCandidato.CF" placeholder="Codice Fiscale" />
        <input type="text" @bind="nuovoCandidato.Email" placeholder="Email" />
        <input type="text" @bind="nuovoCandidato.Comune" placeholder="Comune" />
        <input type="text" @bind="nuovoCandidato.Provincia" placeholder="Provincia" />
        <input type="text" @bind="nuovoCandidato.DataDiNascita" placeholder="Data Di Nascita" />

        <button type="submit">Salva</button>
    </form>
}*@

<table>
    <tr>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Recapito Telefonico</th>
        <th>CF</th>
        <th>Indirizzo e-mail</th>
        <th>Comune</th>
        <th>Provincia</th>
        <th>Data di nascita</th>

    </tr>
@if (listaCandidati != null)
    
        @foreach (var candidato in listaCandidati)
        {
            <tr>
                <td>@candidato.Nome</td>
                <td>@candidato.Cognome</td>
                <td>@candidato.RecapitoTelefonico</td>
                <td>@candidato.CF</td>
                <td>@candidato.Email</td>
                <td>@candidato.Comune</td>
                <td>@candidato.Provincia</td>
                <td>@candidato.DataDiNascita</td>

            </tr>
        }
    
</table>

@code {
    private bool chiusurafinestra = false;
    private bool mostraFinestraModale = false;
    private bool mostraMessaggio = false;
    private Candidato nuovoCandidato = new Candidato();
    private List<Candidato>? listaCandidati;

    private void ApriFinestraModale()
    {
        mostraFinestraModale = true;
    }

    private void ChiudiFinestraModale()
    {
        mostraFinestraModale = false;
    }   

    private void ChiudiMessaggio()
    {
        mostraMessaggio = false;
    }

    protected override async Task OnInitializedAsync()
    {

        await GetAll();
    }

    private async Task GetAll()
    {
        try
        {
            listaCandidati = await HttpClient.GetFromJsonAsync<List<Candidato>>("api/Candidato");
        }
        catch (HttpRequestException)
        {
            return;
        }

    }

    private async Task AggiungiCandidato()
    {
        if (IsValid(nuovoCandidato))
        {
            var response = await HttpClient.PostAsJsonAsync("api/Candidato", nuovoCandidato);

            if (response.IsSuccessStatusCode)
            {
                var candidatoCreato = await response.Content.ReadFromJsonAsync<Candidato>();
                if (listaCandidati != null && candidatoCreato != null)
                {
                    listaCandidati.Add(candidatoCreato);
                    nuovoCandidato = new Candidato();
                    mostraFinestraModale = false;
                    mostraMessaggio = true;
                }
            }
            else
            {
                Console.WriteLine("Errore durante l'aggiunta del candidato.");
            }
        }
    }

    private bool IsValid(Candidato candidato)
    {
        return !string.IsNullOrWhiteSpace(candidato.Nome)
            && !string.IsNullOrWhiteSpace(candidato.Cognome)
            && !string.IsNullOrWhiteSpace(candidato.CF)
            && !string.IsNullOrWhiteSpace(candidato.Email)
            && !string.IsNullOrWhiteSpace(candidato.Provincia)
            && !string.IsNullOrWhiteSpace(candidato.Comune)
            && !string.IsNullOrWhiteSpace(candidato.RecapitoTelefonico);
    }
}
