<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Home</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <h1>WORK IN PROGRESS </h1> 
        </LayoutView>
    </NotFound>
</Router>
